$blue: #13B5EA;
$black: #000000;
$white: #ffffff;
<<<<<<< HEAD
$green: #6cbe45;
$blue-light: #7195a1;
=======
$green: #00cc00;
$blue-light: #f0faff;
>>>>>>> 1dea41d9389ea3d766017ec4feebcf047bb79a31
$blue-dark: #004c65;
$blue-air: #88d3f2;