<<<<<<< HEAD

/*  Footer */

footer {
    margin: 50px 0;
}

=======
>>>>>>> 1dea41d9389ea3d766017ec4feebcf047bb79a31
.social-web {
	display: flex;
    justify-content: center;
    align-items: center;
    @extend %for-a;
    a {
    	color: $blue-dark;
    }
    &__icons {
    	@extend %for-a;
    	a {
    		margin: 0 4px;
    	}
    }
}