
/*  Section-2 */

.about-us {
	display: flex;
	margin-top: 80px;    
    padding: 0;
	&__box-info {
	    display: flex;
	    flex-direction: column;
	    justify-content: end;
	    align-items: center;
	    @extend %for-h2;	    
	    h2 {
			margin: 10px 0;
	    }
	    @extend %for-p;
	    p {
    	    margin-top: 10px;
	    }
	    @extend %for-a;
	    a {
	    	color: $blue;
	    	&:hover {
	    		color: $blue-air;
	    	} 
	    }
	}
	&__foto-class {
		
		img {
			width: 100%;
		}
	}
}

.foto-5 {
	margin-bottom: 49px;
}