
<<<<<<< HEAD
/*  Section-2 */

.about-us {
	display: flex;
	margin-top: 55px;
    
    padding: 0;
=======

.about-us {
	display: flex;
	margin-top: 50px;
    margin-bottom: 50px;
>>>>>>> 1dea41d9389ea3d766017ec4feebcf047bb79a31
	&__box-info {
	    display: flex;
	    flex-direction: column;
	    justify-content: end;
	    align-items: center;
	    @extend %for-h2;	    
	    h2 {
			margin: 10px 0;
	    }
	    @extend %for-p;
	    p {
    	    margin-top: 10px;
	    }
	    @extend %for-a;
	    a {
	    	color: $blue;
	    	&:hover {
	    		color: $blue-air;
	    	} 
	    }
	}
	&__foto-class {
<<<<<<< HEAD
		padding: 0;
=======

>>>>>>> 1dea41d9389ea3d766017ec4feebcf047bb79a31
		img {
			width: 100%;
		}
	}
}

