body {
	width:100%;
	box-sizing: border-box;
	font-family: $ff;
}

%for-a {
	a {		
		color: $blue-dark;
    	text-decoration: none;	  
  		&:hover {
		    color: $blue;		    
    	}
  		&:focus {
		    color: $blue;		    
    	}
    }   
}

%for-h1 {
	font: {
		family: 'PT Serif', serif;
		size: 40px;
		weight: $medium-plus;
	}
    line-height: 1.3;
	color: $blue-dark;
}

