body {
	width:100%;
	box-sizing: border-box;
	font-family: $ff;
}

%for-a {
	a {		
		color: $blue-dark;
    	text-decoration: none;	  
  		&:hover {
		    color: $blue;
		    transition: all 0.3s ease-out;		    
    	}
  		&:focus {
		    color: $blue;		    
    	}
    }   
}

%for-h1 {
	font: {
		family: 'PT Serif', serif;
		size: 40px;
		weight: $medium-plus;
	}
    line-height: 1.3;
	color: $blue-dark;
}

%for-h2 {
	font: {
		family: 'PT Serif', serif;
		size: 28px;
		weight: $medium;
	}
    line-height: 1.3;
	color: $blue-dark;
}

%for-h3 {
	font: {
		family: 'PT Sans', sans-serif;
		size: 22px;
		weight: $medium;
	}
    line-height: 1.3;
	color: $blue-dark;
}

%for-p {
	font: {
		family: 'PT Sans', sans-serif;
		size: 18px;
		weight: $regular;
	}
	color: $blue-dark;	
}

/* @import 'menu';  */

@mixin easeOut {
  transition: all 0.5s ease-out;
}