body {
	width:100%;
	box-sizing: border-box;
	font-family: $ff;
}

%for-a {
	a {		
		color: $black;
    	text-decoration: none;	  
  		&:hover {
		    color: $blue;		    
    	}
  		&:focus {
		    color: $blue;		    
    	}
    }   
}

