/*
Error: Invalid CSS after "...section-7.scss'": expected "{", was ";"
        on line 12 of E:\Makets\Sites_landing_page\yogaclass-master\css\style.scss

7: @import 'section-3.scss';
8: @import 'section-4.scss';
9: @import 'section-5.scss';
10: @import 'section-6.scss';
11: <<<<<<< HEAD
12: @import 'section-7.scss';
13: @import 'section-8.scss';
14: @import 'section-9.scss';
15: @import 'section-10.scss';
16: =======
17: >>>>>>> 1dea41d9389ea3d766017ec4feebcf047bb79a31

Backtrace:
E:\Makets\Sites_landing_page\yogaclass-master\css\style.scss:12
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:1165:in `expected'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:1101:in `expected'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:1096:in `tok!'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:641:in `block'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:635:in `ruleset'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:660:in `block_child'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:653:in `block_contents'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:117:in `stylesheet'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:42:in `parse'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:393:in `_to_tree'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:368:in `_render_with_sourcemap'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:285:in `render_with_sourcemap'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:396:in `run'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:62:in `process_result'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:52:in `parse'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:19:in `parse!'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/bin/sass:13:in `<top (required)>'
C:/Program Files (x86)/Koala/bin/sass:18:in `load'
C:/Program Files (x86)/Koala/bin/sass:18:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...section-7.scss'\": expected \"{\", was \";\"\A         on line 12 of E:\Makets\Sites_landing_page\yogaclass-master\css\style.scss\A \A 7: @import 'section-3.scss';\A 8: @import 'section-4.scss';\A 9: @import 'section-5.scss';\A 10: @import 'section-6.scss';\A 11: <<<<<<< HEAD\A 12: @import 'section-7.scss';\A 13: @import 'section-8.scss';\A 14: @import 'section-9.scss';\A 15: @import 'section-10.scss';\A 16: =======\A 17: >>>>>>> 1dea41d9389ea3d766017ec4feebcf047bb79a31"; }
